@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: "Roboto", sans-serif;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color:  #FFC0CB;
    margin: 0;
    padding: 0;
    width: 100%;
    height: screen;
    align-content: center;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #FFC0CB;
}
header .logo-header{
    width: 100px;
    margin-left: 20px;
    padding: 16px 0;
}

header .solapas{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .solapas a{
    text-decoration: none;
    padding: 0 20px;
    color: black;

}

header .solapas a:hover{
    text-decoration: underline;
}


.form-contact {
    width: 70%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin: 10%;
    border: 6px solid #ff69b4;
    background-color:  #FFC0CB;
    color: black;
}

.title-contact {    
    width: fit-content;
    font-size: 2rem;
    font-family: 'Roboto';
    padding-top: 2%;
    padding-left: 4%;
}


.text-input-contact {
    width: fit-content;
    font-size: 1rem;
    font-family: 'Roboto';
    padding: 6px;
    margin: 0.5rem;
    margin-left: 4%;
}

.cita-contact,
.check-contact {
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
    font-size: 1rem;
    font-family: 'Roboto';
}

.info-contact {
    margin-left: 4%;
    margin-bottom: 1%;
    font-size: 1rem;
    font-family: 'Roboto';
}

.label-contact,
.label-info,
.label-check {
    font-size: 1.2rem;
    font-family: 'Roboto';
    padding: 6px;
    margin-top: 4%;
}

.input-check,
.label-encuentro {
    margin-top: 2%;
    margin-left: 2%;
}

.option-check,
.label-encuentro,
.label-info,
.div-info-contact {
    padding-bottom: 1%;
}

.text-input-encuentro {
    width: 40%;
    font-size: 1rem;
    font-family: 'Roboto';
    padding: 6px;
    margin: 0.5rem;
}

.label-encuentro,
.label-info-contact {
    font-size: 1rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.label-info {
    margin-top: 0;
}

.input-info-contact,
.input-encuentro {
    margin-top: 2%;
    margin-bottom: 1%;
}

.div-submit {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

.button-submit {    
    width: fit-content;
    font-family: 'Roboto';
    text-align: center;
    font-size: 20px;
    padding: 1%;
    background-color: #ff69b4;
    color: white;
    border: 0;
    border-radius: 20px;
}

.button-submit:hover {
    width: fit-content;
    background-color: white;
    color: #ff69b4;
    border: 8px solid #ff69b4;
    text-transform: uppercase;
}

footer{
    background-color: #292D27;
    padding: 50px 0;
}

footer .sub-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .sub-footer .logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .sub-footer .logo-footer img{
    width: 25%;
}

footer .sub-footer .footer-1, footer .sub-footer .footer-2, footer .sub-footer .footer-3{
    display: flex;
    justify-content: center;
    width: 25%;
    border-left: 1px solid white;
}

footer .sub-footer .footer-1 ul, footer .sub-footer .footer-2 ul, footer .sub-footer .footer-3 ul{
    width: 100%;
    padding: 0;
}



.titulo-lista{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.item-lista{
    color: white;
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.item-lista a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.item-lista a:hover{
    text-decoration: underline;
}

