* {
  overflow-x: hidden;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px; /* Ajustar el alto del navbar */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuir espacio entre logo y menú */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegurarse de que el navbar esté por encima del contenido */
  padding: 0 20px; /* Añadir padding para separación */
}

.logo img {
  height: 50px; /* Ajustar la altura del logo */
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #000;
  margin: 0 15px;
  font-size: 14px;
  transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
  padding: 25px 10px; /* Asegurar que el enlace ocupe todo el alto del navbar */
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu a:hover {
  color: #fff;
  background-color: #000;
  padding: 25px 15px; /* Mantener el padding consistente con el alto del navbar */
}

/* Estilos para el slider */
.slider-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px; /* Espacio debajo del slider */
}

.slider {
  display: flex;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  height: 400px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-button {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Estilos para las tarjetas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 20px 0 10px;
  font-size: 24px;
}

.card p {
  margin: 0 20px 20px;
  font-size: 16px;
  color: #666;
}

.card-button {
  display: inline-block;
  position: absolute;
  bottom: 5px;       
  left: 50%; 
  transform: translateX(-50%);        
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #0056b3;
}

/* Estilos para el carrusel */
.carousel-container {
  margin-top: 50px;
  text-align: center;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  animation: marquee 60s linear infinite;
}

.carousel img {
  margin-right: 100px;
}


.footer {
  background-color: #292D27;
  color: white;
  display: flex;
  justify-content: space-around; /* Espacio uniforme entre columnas */
  padding: 150px 0; /* Padding para separar el contenido del borde del footer */
}

.logo-footer img {
  height: 50px; /* Ajustar la altura del logo */
}
.footer-column {
  flex: 1; /* Asegurar que cada columna ocupe el mismo espacio */
  padding: 0 20px; /* Padding lateral para espacio dentro de cada columna */
}

.footer-column h3 {
  margin-top: 0; /* Eliminar margen superior */
}

.footer-column p {
  margin: 5px 0; /* Espaciado entre párrafos */
}

.footer-column a{
  display: block;
}