body{
    margin: 0;
}
.header {
    text-align: center;
    background-color: #FFC0CB;
    padding: 20px;
    margin: 0px;
}

#opciones li {
    display: inline-block;
    color: white;
    text-align: center;
    margin-right: 60px;
}

#slider {
    background-color: #ffffc0;
    padding: 350px;
}

.flechaizq {
    margin-right: 100%;
}

.flechader {
    margin-left: 100%;
}

.aboutus {
    background-color: aliceblue;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titulo {
    margin-bottom: 20px;
}

.contenido {
    display: flex;
    align-items: center;
}


.imagen img {
    max-width: 100%;
    height: auto;
}

.texto {
    text-align: left;
}